.header {
    height: 34vw;
    margin: 30px auto;
    background: url('/header_img.png') no-repeat;
    background-size: cover; /* This will make the image cover the entire container */
    background-position: center; /* This will center the image */
    position: relative;
    border-radius: 10px;
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    top: 10%;
    left: 4vw;
    animation: fadeIn 3s;
}
.header-contents h2{
    font-weight: 500;
    color: aliceblue;
    font-size: max(4.5vw,22px);
}

.header-contents p{
    color: aliceblue;
    font-size: 1.1vw;
}

.header-contents button{
    border: none;
    color: #FF6500;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: aliceblue;
    font-size: max(1vw,13px);
    border: 1px solid #FFF455;
    border-radius: 50px;
}
