.navbar{
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding:  10px 3vw;
    background-color:  #000000;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.navbar-logo-container {
    flex: 1;
    display: flex; 
    justify-content: flex-start; 
}

.navbar .logo {
    width: 180px;
    height: 90px;
    object-fit: contain;
}
.navbar-menu{
    flex: 1;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 50px;
    color: #EEEEEE;
    font-size:  25px;
}
.navbar-right{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}
.navbar .active{
    padding-bottom: 1px;
    border-bottom: 2px solid #FFC700;
}
.navbar li{
    cursor: pointer;
}
.navbar-search-icon{
    position: relative;
}

.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: #EE4E4E;
    border-radius: 5px;
    top: -8px;
    right: -8px;   
}

/* RESPONSEVIE */

@media (max-width:1050px){
    .navbar .logo{
        width: 140px;
        height: 70px;
    }
    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img{
        width: 22px;
    }
    
}

@media (max-width:900px){
    .navbar .logo{
        width: 100px;
        height: 50px;
    }
    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right img{
        width: 20px;
    }
}

@media (max-width: 750px){
    .navbar-menu{
        gap: 15px;
        font-size: 14px;
    }
}

@media (max-width: 400px){
    .navbar-menu{
        display: none;
    }
}

