@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: #e3e2ddde; /* Keep original background color */
    color: #24292F; /* Darker text color for contrast */
}

.logo {
    width: 200px;
    align-self: flex-start;
    margin: 20px;
}

.greeting {
    margin: 20px;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
}

.greeting h1 {
    font-size: 40px;
    font-weight: 500;
}

.greeting p {
    font-size: 30px;
    font-weight: 300;
}

.order {
    font-size: 50px;
    font-weight: bold;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #FFFFFF;
    color: #C70039;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #900C3F;
}

.order:hover {
    background-color: #900C3F;
    color: #FFFFFF;
    border-color: #C70039;
}

/* Responsive */
@media (max-width: 1050px) {
    .logo {
        width: 150px;
    }
    .greeting h1 {
        font-size: 35px;
    }
    .greeting p {
        font-size: 25px;
    }
    .order {
        font-size: 40px;
    }
}

@media (max-width: 750px) {
    .logo {
        width: 120px;
    }
    .greeting h1 {
        font-size: 30px;
    }
    .greeting p {
        font-size: 20px;
    }
    .order {
        font-size: 30px;
    }
}

@media (max-width: 400px) {
    .logo {
        width: 100px;
    }
    .greeting h1 {
        font-size: 25px;
    }
    .greeting p {
        font-size: 18px;
    }
    .order {
        font-size: 20px;
    }
}
