.page-wrapper {
  display: flex; 
  min-height: 100vh; 
}
.sidebar {
  flex: 0 0 300px;
}
.content-wrapper {
  flex: 1; 
}

/* RESPONSIVE */

@media (max-width: 1050) {
    .sidebar{
      flex: 70%;
    }
}